# Rust
/target/
Cargo.lock

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Neovim
.nvim/
*.swp
*.swo
*~
.lsp/
.direnv/

## Vim/Vi
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.*.sw[pox]
.swp
*.sw[op]
*.vi
.tags*
# General
.env
.DS_Store
